@mixin adjust-size($size, $path-width, $text-size) {
    width: $size;
    height: $size;
    .cstm-progress {
        width: $size;
        height: $size;
        border-width: $path-width;
        &:before {

            height: $size;
            width: $size;
            line-height: $size;
            left: -$path-width;
            top: -$path-width;
            font-size: $text-size;
        }

        &:after {
            left: -$path-width;
            top: -$path-width;
            width: $size;
            height: $size;
            border-width: $path-width;
        }
    }
}

@mixin create-theme($track-color, $progress-color) {
    .cstm-progress {

        &:before {
            color: $progress-color;
        }
        &.first-half {
            border-left-color: $progress-color;
            border-top-color: $progress-color;
            border-right-color: $track-color;
            border-bottom-color: $track-color;
            &:after {
                border-left-color: transparent;
                border-top-color: transparent;
                border-right-color: $track-color;
                border-bottom-color: $track-color;
            }
        }

        &.second-half {
            border-right-color: $progress-color;
            border-bottom-color: $progress-color;
            border-left-color: $track-color;
            border-top-color: $track-color;
            &:after {
                border-right-color: transparent;
                border-bottom-color: transparent;
                border-left-color: $progress-color;
                border-top-color: $progress-color;
            }
        }
    }
}



.cstm-progress-bar {
    *,
    *:after,
    *:before {
        box-sizing: border-box;
    }
    position: relative;
    .cstm-progress {
        position: relative;
        border-radius: 50%;
        background-color: transparent;
        border-style: solid;
        left: 0px;
        top: 0px;
        text-align: center;
        &:before {
            content: attr(data-progress-value);
            position: absolute;
            text-align: center;
            background-color: transparent;
        }

        &:after {
            position: absolute;
            border-radius: 50%;
            background-color: transparent;
            border-style: solid;
            content: '';
        }
        &.first-half {
            transform: rotate( calc( -45deg + (var(--progress-value) * 360deg/var(--max-value))));
            &:after {
                transform: rotate(calc(90deg + 90deg - (var(--progress-value) * 360deg/var(--max-value))));
            }
            &:before {
                transform: rotate(calc( 45deg - (var(--progress-value) * 360deg/var(--max-value))));
            }
        }
        &.second-half {
            transform: rotate( calc( -45deg + ((var(--progress-value) - (var(--max-value)/2)) * 360deg/var(--max-value))));
            &:after {
                transform: rotate(calc(90deg + 90deg - ((var(--progress-value) - (var(--max-value)/2)) * 360deg/var(--max-value))));
            }
            &:before {
                transform: rotate( calc( 45deg - ((var(--progress-value) - (var(--max-value)/2)) * 360deg/var(--max-value))));
            }
        }
    }
    @include create-theme(#DDDDDD, #001f3f);
    @include adjust-size(200px, 20px, 50px); // Themes
    &.success {
        @include create-theme(#DDDDDD, #2ECC40);
    }
    &.warning {
        @include create-theme(#DDDDDD, #FF851B);
    }
    &.danger {
        @include create-theme(#DDDDDD, #FF4136);
    }
    &.dark {
        @include create-theme(#DDDDDD, #111111);
    }
    &.primary {
        @include create-theme(#DDDDDD, #0074D9);
    }
    &.info {
        @include create-theme(#DDDDDD, #FFDC00);
    } //size
    &.extra-small {
        @include adjust-size(60px, 10px, 20px);
    }
    &.small {
        @include adjust-size(100px, 15px, 30px);
    }
    &.large {
        @include adjust-size(300px, 25px, 100px);
    }
    &.extra-large {
        @include adjust-size(500px, 40px, 150px);
    }
}