.cstm-progress-bar {
  position: relative;
  width: 200px;
  height: 200px; }
  .cstm-progress-bar *,
  .cstm-progress-bar *:after,
  .cstm-progress-bar *:before {
    box-sizing: border-box; }
  .cstm-progress-bar .cstm-progress {
    position: relative;
    border-radius: 50%;
    background-color: transparent;
    border-style: solid;
    left: 0px;
    top: 0px;
    text-align: center; }
    .cstm-progress-bar .cstm-progress:before {
      content: attr(data-progress-value);
      position: absolute;
      text-align: center;
      background-color: transparent; }
    .cstm-progress-bar .cstm-progress:after {
      position: absolute;
      border-radius: 50%;
      background-color: transparent;
      border-style: solid;
      content: ''; }
    .cstm-progress-bar .cstm-progress.first-half {
      transform: rotate(calc( -45deg + (var(--progress-value) * 360deg/var(--max-value)))); }
      .cstm-progress-bar .cstm-progress.first-half:after {
        transform: rotate(calc(90deg + 90deg - (var(--progress-value) * 360deg/var(--max-value)))); }
      .cstm-progress-bar .cstm-progress.first-half:before {
        transform: rotate(calc( 45deg - (var(--progress-value) * 360deg/var(--max-value)))); }
    .cstm-progress-bar .cstm-progress.second-half {
      transform: rotate(calc( -45deg + ((var(--progress-value) - (var(--max-value)/2)) * 360deg/var(--max-value)))); }
      .cstm-progress-bar .cstm-progress.second-half:after {
        transform: rotate(calc(90deg + 90deg - ((var(--progress-value) - (var(--max-value)/2)) * 360deg/var(--max-value)))); }
      .cstm-progress-bar .cstm-progress.second-half:before {
        transform: rotate(calc( 45deg - ((var(--progress-value) - (var(--max-value)/2)) * 360deg/var(--max-value)))); }
  .cstm-progress-bar .cstm-progress:before {
    color: #001f3f; }
  .cstm-progress-bar .cstm-progress.first-half {
    border-left-color: #001f3f;
    border-top-color: #001f3f;
    border-right-color: #DDDDDD;
    border-bottom-color: #DDDDDD; }
    .cstm-progress-bar .cstm-progress.first-half:after {
      border-left-color: transparent;
      border-top-color: transparent;
      border-right-color: #DDDDDD;
      border-bottom-color: #DDDDDD; }
  .cstm-progress-bar .cstm-progress.second-half {
    border-right-color: #001f3f;
    border-bottom-color: #001f3f;
    border-left-color: #DDDDDD;
    border-top-color: #DDDDDD; }
    .cstm-progress-bar .cstm-progress.second-half:after {
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: #001f3f;
      border-top-color: #001f3f; }
  .cstm-progress-bar .cstm-progress {
    width: 200px;
    height: 200px;
    border-width: 20px; }
    .cstm-progress-bar .cstm-progress:before {
      height: 200px;
      width: 200px;
      line-height: 200px;
      left: -20px;
      top: -20px;
      font-size: 50px; }
    .cstm-progress-bar .cstm-progress:after {
      left: -20px;
      top: -20px;
      width: 200px;
      height: 200px;
      border-width: 20px; }
  .cstm-progress-bar.success .cstm-progress:before {
    color: #2ECC40; }
  .cstm-progress-bar.success .cstm-progress.first-half {
    border-left-color: #2ECC40;
    border-top-color: #2ECC40;
    border-right-color: #DDDDDD;
    border-bottom-color: #DDDDDD; }
    .cstm-progress-bar.success .cstm-progress.first-half:after {
      border-left-color: transparent;
      border-top-color: transparent;
      border-right-color: #DDDDDD;
      border-bottom-color: #DDDDDD; }
  .cstm-progress-bar.success .cstm-progress.second-half {
    border-right-color: #2ECC40;
    border-bottom-color: #2ECC40;
    border-left-color: #DDDDDD;
    border-top-color: #DDDDDD; }
    .cstm-progress-bar.success .cstm-progress.second-half:after {
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: #2ECC40;
      border-top-color: #2ECC40; }
  .cstm-progress-bar.warning .cstm-progress:before {
    color: #FF851B; }
  .cstm-progress-bar.warning .cstm-progress.first-half {
    border-left-color: #FF851B;
    border-top-color: #FF851B;
    border-right-color: #DDDDDD;
    border-bottom-color: #DDDDDD; }
    .cstm-progress-bar.warning .cstm-progress.first-half:after {
      border-left-color: transparent;
      border-top-color: transparent;
      border-right-color: #DDDDDD;
      border-bottom-color: #DDDDDD; }
  .cstm-progress-bar.warning .cstm-progress.second-half {
    border-right-color: #FF851B;
    border-bottom-color: #FF851B;
    border-left-color: #DDDDDD;
    border-top-color: #DDDDDD; }
    .cstm-progress-bar.warning .cstm-progress.second-half:after {
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: #FF851B;
      border-top-color: #FF851B; }
  .cstm-progress-bar.danger .cstm-progress:before {
    color: #FF4136; }
  .cstm-progress-bar.danger .cstm-progress.first-half {
    border-left-color: #FF4136;
    border-top-color: #FF4136;
    border-right-color: #DDDDDD;
    border-bottom-color: #DDDDDD; }
    .cstm-progress-bar.danger .cstm-progress.first-half:after {
      border-left-color: transparent;
      border-top-color: transparent;
      border-right-color: #DDDDDD;
      border-bottom-color: #DDDDDD; }
  .cstm-progress-bar.danger .cstm-progress.second-half {
    border-right-color: #FF4136;
    border-bottom-color: #FF4136;
    border-left-color: #DDDDDD;
    border-top-color: #DDDDDD; }
    .cstm-progress-bar.danger .cstm-progress.second-half:after {
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: #FF4136;
      border-top-color: #FF4136; }
  .cstm-progress-bar.dark .cstm-progress:before {
    color: #111111; }
  .cstm-progress-bar.dark .cstm-progress.first-half {
    border-left-color: #111111;
    border-top-color: #111111;
    border-right-color: #DDDDDD;
    border-bottom-color: #DDDDDD; }
    .cstm-progress-bar.dark .cstm-progress.first-half:after {
      border-left-color: transparent;
      border-top-color: transparent;
      border-right-color: #DDDDDD;
      border-bottom-color: #DDDDDD; }
  .cstm-progress-bar.dark .cstm-progress.second-half {
    border-right-color: #111111;
    border-bottom-color: #111111;
    border-left-color: #DDDDDD;
    border-top-color: #DDDDDD; }
    .cstm-progress-bar.dark .cstm-progress.second-half:after {
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: #111111;
      border-top-color: #111111; }
  .cstm-progress-bar.primary .cstm-progress:before {
    color: #0074D9; }
  .cstm-progress-bar.primary .cstm-progress.first-half {
    border-left-color: #0074D9;
    border-top-color: #0074D9;
    border-right-color: #DDDDDD;
    border-bottom-color: #DDDDDD; }
    .cstm-progress-bar.primary .cstm-progress.first-half:after {
      border-left-color: transparent;
      border-top-color: transparent;
      border-right-color: #DDDDDD;
      border-bottom-color: #DDDDDD; }
  .cstm-progress-bar.primary .cstm-progress.second-half {
    border-right-color: #0074D9;
    border-bottom-color: #0074D9;
    border-left-color: #DDDDDD;
    border-top-color: #DDDDDD; }
    .cstm-progress-bar.primary .cstm-progress.second-half:after {
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: #0074D9;
      border-top-color: #0074D9; }
  .cstm-progress-bar.info .cstm-progress:before {
    color: #FFDC00; }
  .cstm-progress-bar.info .cstm-progress.first-half {
    border-left-color: #FFDC00;
    border-top-color: #FFDC00;
    border-right-color: #DDDDDD;
    border-bottom-color: #DDDDDD; }
    .cstm-progress-bar.info .cstm-progress.first-half:after {
      border-left-color: transparent;
      border-top-color: transparent;
      border-right-color: #DDDDDD;
      border-bottom-color: #DDDDDD; }
  .cstm-progress-bar.info .cstm-progress.second-half {
    border-right-color: #FFDC00;
    border-bottom-color: #FFDC00;
    border-left-color: #DDDDDD;
    border-top-color: #DDDDDD; }
    .cstm-progress-bar.info .cstm-progress.second-half:after {
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: #FFDC00;
      border-top-color: #FFDC00; }
  .cstm-progress-bar.extra-small {
    width: 60px;
    height: 60px; }
    .cstm-progress-bar.extra-small .cstm-progress {
      width: 60px;
      height: 60px;
      border-width: 10px; }
      .cstm-progress-bar.extra-small .cstm-progress:before {
        height: 60px;
        width: 60px;
        line-height: 60px;
        left: -10px;
        top: -10px;
        font-size: 20px; }
      .cstm-progress-bar.extra-small .cstm-progress:after {
        left: -10px;
        top: -10px;
        width: 60px;
        height: 60px;
        border-width: 10px; }
  .cstm-progress-bar.small {
    width: 100px;
    height: 100px; }
    .cstm-progress-bar.small .cstm-progress {
      width: 100px;
      height: 100px;
      border-width: 15px; }
      .cstm-progress-bar.small .cstm-progress:before {
        height: 100px;
        width: 100px;
        line-height: 100px;
        left: -15px;
        top: -15px;
        font-size: 30px; }
      .cstm-progress-bar.small .cstm-progress:after {
        left: -15px;
        top: -15px;
        width: 100px;
        height: 100px;
        border-width: 15px; }
  .cstm-progress-bar.large {
    width: 300px;
    height: 300px; }
    .cstm-progress-bar.large .cstm-progress {
      width: 300px;
      height: 300px;
      border-width: 25px; }
      .cstm-progress-bar.large .cstm-progress:before {
        height: 300px;
        width: 300px;
        line-height: 300px;
        left: -25px;
        top: -25px;
        font-size: 100px; }
      .cstm-progress-bar.large .cstm-progress:after {
        left: -25px;
        top: -25px;
        width: 300px;
        height: 300px;
        border-width: 25px; }
  .cstm-progress-bar.extra-large {
    width: 500px;
    height: 500px; }
    .cstm-progress-bar.extra-large .cstm-progress {
      width: 500px;
      height: 500px;
      border-width: 40px; }
      .cstm-progress-bar.extra-large .cstm-progress:before {
        height: 500px;
        width: 500px;
        line-height: 500px;
        left: -40px;
        top: -40px;
        font-size: 150px; }
      .cstm-progress-bar.extra-large .cstm-progress:after {
        left: -40px;
        top: -40px;
        width: 500px;
        height: 500px;
        border-width: 40px; }

/*# sourceMappingURL=main.css.map */
